.upload-content {
  padding-left: 10%;
  padding-right: 10%;
}

.image-container {
  border-style: dotted;
  border-radius: 20px;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
}

.drop-zone {
  display: flex;
  justify-content: center;
  align-items:center;
  aspect-ratio: 1/1;
  border-radius: 20px;
  
}

.upload-buttons {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-right: 20%;
}

.questionnaire-container {

}